@import 'variables'
@import 'mixins'
@import 'components'
@import 'type'

.decoration-news
  align: right
  width: 62.5%
  height: 85px
  position: relative
  img
    width: 100%
    height: 100%
    position: absolute
.decoration-news.left
  img
    transform: rotatey(180deg)

body
  margin: 0
  padding: 0
  background-color: #0a0e0c
  background-image: image-url('bg_games.png')
  background-size: 35%
  background-repeat: repeat-y
  background-position-x: 50%

ul
  list-style: none
  margin: 0
  padding: 0

.m-bot25
  margin-bottom: 25px

.m-top50
  margin-top: 50px
.m-top10
  margin-top: 10px

.informations
  background-color: red
  p
    color: green

.container-registration
  color: $white
  text-align: center
  .panel
    background-color: inherit
    .actions
      .login-button
        border: none
        background-image: linear-gradient(to top, #ffa200, #fcff00)
      input
        color: $black
    a
      color: $white

  .submit-button
    margin-top: 15px
  .submit-avatar
    width: 100%
    margin-left: 31%
  #user_avatar
    color: $white

.container
  width: 1080px
  margin: auto
  display: flex
  justify-content: space-around

.games-container
  width: 1024px
  margin: auto
  justify-content: space-around
  position: relative
  top: -45px
  height: 554px !important

footer
  background-color: #000
  background-image: image-url('footer_bg.png')
  background-repeat: no-repeat
  background-size: 42% 70px
  display: flex
  align-items: center
  height: 70px
  margin-top: 60px
  .logo
    display: flex
    a
      width: 180px
      img
        width: 100%
  .container
    display: flex
    align-items: center
    padding-left: 100px
    .row
      .copyright
        width: 755px
        text-align: right

header
  border-bottom: solid 1px #535353
  display: flex
  align-items: center
  background-color: $grey_bg
  height: 70px
  position: relative
  .container
    overflow: hidden
    width: 100%
    .logo
      display: block
      width: 100%
      float: right
      a
        float: right
        margin-right: 140px
  a
    text-transform: uppercase
    color: $grey
    background-color: transparent !important
    text-decoration: none
    padding-bottom: 2px

  ul
    display: flex
  .main-nav
    display: flex
    align-items: center
    letter-spacing: 0.6px
    float: right
    margin-right: -30px
    ul
      display: flex
      margin: 5px
      li
        padding-left: 13px
        padding-right: 13px

        a
          font-size: 16px
          color: $grey
        &:hover
          a
            text-decoration: none
            border-bottom: 2px solid $decor_color
            padding-bottom: 4px
            color: $decor_color
      .social-media
        i
          font-size: 22px
        a
          color: $decor_color
  .add-nav
    display: flex
    height: 100%
    align-items: center
    padding-left: 40px
    ul
      width: 100%
      li
        padding-right: 10px
        padding-left: 10px
        z-index: 1
        a
          font-weight: bold
          color: #000
          text-decoration: none
    .row
      width: 100%

.decor_bg
  width: 43%
  height: 100%
  position: relative
  overflow: hidden
  .dbg
    img
      height: 100%
      position: absolute
      width: 100%
  .first-column
    padding-right: 0
    overflow: hidden
    .nick-row
      width: 100%
      margin-right: 0
      font-weight: bold
      border-bottom: black 1px solid
      padding-top: 3px
    .img-row
      margin: 0
      img
        padding: 4px
  .second-column
    margin: 0
    padding-left: 0
    .row
      width: 100%
      .main-avatar-img
        img
          border-radius: 50%
          width: 69px
          height: 69px
      .h-img
        margin-top: 18px
        padding: 5px
      .flag
        margin-top: 17px
        padding: 5px

.slide-img
  img
    width: 100%

.main-slider
  .slide
    position: relative
    .slide-text
      position: absolute
      top: 15%
      left: 25%

  .cta-btn
    display: flex
    justify-content: center
    a
      @include decor_gradient
      padding: 7px 30px
      box-shadow: 8px 4px 18px 0 #160e00
      text-transform: uppercase
      color: $dark_grey
      font-size: 24px
      font-weight: bold

.main-row
  display: flex
  position: relative
  span
    position: absolute
    width: 980px
    margin: auto
    left: 50%
    transform: translateX(-50%)
    a
      text-transform: uppercase
      font-size: 18px
      color: #adadad
      float: right

.section-title
  color: $white
  font-size: 28px
  font-weight: bold
  font-style: italic
  text-transform: uppercase
  margin: 0

.decoration
  width: 40%
  height: 85px
  position: relative
  img
    width: 100%
    height: 100%
    position: absolute
.decoration.left
  img
    transform: rotatey(180deg)

.white-icons
  display: none

.box-3
  &:hover
    .box-img
      img
        opacity: 1
    .box-text
      .title
        h3
          color: $decor_color
      .news-box
        background-color: #0B0806
      .grey-icons
        display: none
      .white-icons
        display: initial

  width: 100%
  padding-left: 10px
  padding-right: 10px
  .box-img
    img
      width: 100%
      opacity: 0.6
  .box-text
    display: flex
    margin-bottom: 40px
    height: 37px
    .title
      h3
        margin-top: 10px
        font-family: Roboto
        font-size: 15px
        font-weight: normal
        font-style: normal
        font-stretch: condensed
        line-height: normal
        letter-spacing: normal
        text-align: left
        color: #9f9fa1
    .icons
      text-align: right
      color: $grey
      img
        margin-top: 5px

.box-4
  &:hover
    .box-img
      img
        opacity: 1
  padding-left: 10px
  padding-right: 10px
.row-with-boxes
  display: flex
  margin-top: -30px
  z-index: 999
  a
    width: 25%
    text-decoration: none
  .box-img
    position: relative
    display: flex
    background-color: $bg_color
    img
      height: 166px
      width: 100%
      opacity: 0.6
.news-box
  background-color: #252525
  .box-text
    .title
      color: $decor_color
      font-size: 16px
      text-transform: uppercase
      h3
        margin: 0
    .date
      p
        margin: 0
        font-size: 12px
        text-transform: uppercase
        color: $grey
    .promo-text
      p
        font-size: 16px
        color: $white
        margin-top: 10px

.copyright
  color: #525252

.contact
  color: #628B9F

.games
  .main-row
    justify-content: flex-end
    .section-title
      padding-right: 10px
      padding-top: 15px
.news
  .main-row
    .section-title
      padding-top: 10px
.games-nav
  padding-left: 30px
  margin-top: 15px
  margin-bottom: 10px
  display: flex
  align-items: center
  letter-spacing: 0.6px
  ul
    display: flex
    margin: 5px
    li
      padding-left: 13px
      padding-right: 13px
      a
        text-transform: uppercase
        color: $grey
        background-color: transparent !important
        text-decoration: none
        padding-bottom: 2px
      a:hover
        text-decoration: none
        border-bottom: 2px solid $decor_color
        padding-bottom: 4px
        color: $decor_color

.bg-section
  width: 1024px
  height: 600px
  background-color: $bg_color

.alert-alert
    background-color: $decor_color
    color: black
    text-align: left

.notice-notice
    background-color: $decor_color
    color: black
    text-align: left

@media screen and (max-width: 1150px)
  header
    .decor_bg
      .add-nav
        a
          font-size: 12px

@media screen and (max-width: 1000px)
  header
    .container
      .logo
        a
          margin-right: 0
