- if current_user.present?
  #edit_up.modal.hide.fade.in
    .modal-header
    #edit.modal-body.registration-modal
      .main-row
        .decoration
          =image_tag('bg_modal.png')
        %p Edycja
      .login-row
        = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f|
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", value: current_user.email
          .field
            = f.text_field :first_name, value: current_user.first_name
          .field
            = f.text_field :last_name, value: current_user.last_name
          .field
            = f.text_field :nick, value: current_user.nick
          .field
            .password-label
              Jeżeli nie chcesz zmieniać hasła, pozostaw puste
              %br
              Hasło musi zawierać minimum 6 znaków (w tym jedną wielką literę oraz cyfrę)
            = f.password_field :password, autocomplete: "off", placeholder: 'Nowe hasło'
          .field
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Potwierdź hasło'
          .field
            = f.label :avatar, as: 'Avatar', class: 'avatar-label'
            %br
            = f.file_field :avatar, class: 'avatar-input'
          .actions
            = f.submit "Wyślij"
