#sign_up.modal.hide.fade.in
  .modal-header
  .modal-body.registration-modal
    .main-row
      .decoration
        =image_tag('bg_modal.png')
      %p Rejestracja
    .login-row
      = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'E-mail'
        .field
          = f.text_field :first_name, placeholder: 'Imię'
        .field
          = f.text_field :last_name, placeholder: 'Nazwisko'
        .field
          = f.text_field :nick, placeholder: 'Nick'
        .field
          = f.password_field :password, autocomplete: "off", placeholder: 'Hasło'
          .password-information
            Hasło musi zawierać minimum 6 znaków (w tym jedną wielką literę oraz cyfrę)
        .field
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Potwierdź hasło'
        .field
          = f.label :avatar, as: 'Avatar', class: 'avatar-label'
          %br
          = f.file_field :avatar, class: 'avatar-input'
        .actions
          = f.submit "WYŚLIJ"
        %button.close{"data-dismiss" => "modal"}
