.shared-links
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to "Zapomniałeś hasła?", "#forgot_password", "data-toggle" => "modal", class: 'btn-password'
  - if devise_mapping.registerable? && controller_name != 'registrations'
    = link_to "Zarejestruj się", "#sign_up", "data-toggle" => "modal"
