%h2 Resend unlock instructions
= simple_form_for resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post } do |f|
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .actions
    = f.submit "Resend unlock instructions"
= render "devise/shared/links"
