#forgot_password.modal.hide.fade.in
  .modal-header
  .modal-body.login-modal
    .main-row
      .decoration
        =image_tag('bg_modal.png')
      %p.forgot_password Wprowadź mail
    .login-row
      = simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f|
        .field
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'E-mail'
        .actions
          = f.submit "Wyślij"
