.lost-password-view
  %h2 Zmień hasło
  = simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .field
      = f.label :password, "Nowe hasło"
      %br/
      = f.password_field :password, autofocus: true, autocomplete: "new-password"
    .field
      = f.label :password_confirmation, "Potwierdź hasło"
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
      .password-information
        Hasło musi zawierać minimum 6 znaków (w tym jedną wielką literę oraz cyfrę)
    .actions
      = f.submit "Zmień hasło"
