%section.games.m-top50
  .main-row
    %h2.section-title
      gry
    .decoration-right
      =image_tag('home_page_games_bar.png')
  .games-container.bg-section
    .row
      .games-nav
        %ul
          %li
            =link_to 'POPULARNE', games_path
          %li
            =link_to 'NOWE', games_path
    .row
      -newest_games.each do |game|
        .col-sm-4
          .box-3
            .box-img
              - if current_user.present?
                =link_to image_tag(game.image.image, size: "170"), game_path([game.id])
              - else
                =image_tag(game.image.image, size: "170")
            .box-text
              .col-sm-6.news-box
                .title
                  %h3
                    =game.title
              .col-sm-6.news-box.icons.grey-icons
                = image_tag('icons/icon_home.png', class: 'home-image')
                = image_tag('icons/icon_play.png', class: 'play-image')
              .col-sm-6.news-box.icons.white-icons
                = link_to image_tag('icons/icon_home_white.png', class: 'home-image'), informations_path(information_id: newest_information_id(game.id))
                = link_to image_tag('icons/icon_play_white.png', class: 'play-image'), game_path([game.id])
    .row
      .col-sm-12.more-games
        = link_to 'WIECEJ', games_path
