%section.jumbo
  %script{:src => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", :type => "text/javascript"}
  .main-slider
    -slider_images.each do |slider_image|
      .slide
        .slide-img
          =image_tag(slider_image.image)
        .slide-text
          %p.m-bot25
            =image_tag('Academy_of_heroes.png')
          .cta-btn
            -if current_user.present?
              %a{href: games_path}
                Zagraj!
            -else
              = link_to "Zagraj!", "#sign_up", "data-toggle" => "modal", class: 'btn-registration'
