%section.news.m-top50
  .main-row
    .decoration.left
      =image_tag('home_page_games_bar.png')
    %h2.section-title
      newsy
    %span.news-archive
      = link_to 'archiwum', informations_path
  .container
    .row-with-boxes
      -newest_informations.each do |information|
        =link_to informations_path(information_id: information.id) do
          .box-4
            .box-img
              =image_tag(information.information_image.image,size: "166")
            .box-text
              .title
                %h3
                  =information.game.title
              .date
                %p
                  =information.created_at.strftime("%Y-%m-%d")
              .promo-text
                %p
                  =information.short_information
