= simple_form_for contact_form, as: :contact, url: contacts_path, remote: true do |f|
  %button.close{"data-dismiss" => "modal"}
    ×
  .form-row
    = f.input :sender, placeholder: 'Imię lub nick', label: false, input_html: { class: 'reuglar-input'}
    = f.input :email, placeholder: 'E-mail', label: false, input_html: { class: 'reuglar-input'}
  .form-row
    = f.input :title, placeholder: 'Temat', label: false, input_html: { class: 'wider-input'}
  .form-row
    = f.input :content, placeholder: 'Treść wiadomości...', label: false, as: :text, input_html: { class: 'big-input'}
  .form-actions
    = f.submit 'Wyślij', class: 'btn btn-modal send'
