%section.games-index.m-top10
  .main-slider
    %script{:src => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", :type => "text/javascript"}
    .slide
      .slide-img
        =image_tag('banner2.png')
    .slide
      .slide-img
        =image_tag('banner1.png')

  .main-row
    .decoration.left
      =image_tag('bg_gradient.png')
    %h2.section-title
      Lista gier
  .games-categories
    %ul
      %li
        = link_to 'WSZYSTKIE', 'javascript:void(0)'
      %li
        = link_to 'rpg', 'javascript:void(0)'
      %li
        = link_to 'GAT2', 'javascript:void(0)'
      %li
        = link_to 'GAT3', 'javascript:void(0)'
      %li
        = link_to 'GAT4', 'javascript:void(0)'
      %li
        = link_to 'GAT5', 'javascript:void(0)'
      %li
        = link_to 'GAT6', 'javascript:void(0)'
      %li
        = link_to 'GAT7', 'javascript:void(0)'
      %li
        = link_to 'GAT8', 'javascript:void(0)'
      %li
        = link_to 'GAT9', 'javascript:void(0)'
  .container
    .game-wrap
      = render 'game', games: games
    -if games.next_page
      .more
        .row
          .col-sm-12.more-games
            = link_to 'WIECEJ', games_path(page: games.next_page), class: 'next_page', remote: true
