%section.m-top50
  .main-row
    .decoration.left
      =image_tag('bg_gradient.png')
    %h3.section-title
      = game.title
    .home-img
      = link_to 'javascript:void(0)' do
        = image_tag('icons/icon_home_white.png')
.main-game
  %iframe{src: game.link, width: "1400", height: "700", align: 'middle'}
