.news
  .row
    =image_tag(information.information_image.image)
  .row.date-row
    = information.created_at.strftime('%d.%m.%Y')
  .row.game-title-row
    =link_to information.game.title, game_path(information.game.id), class: 'link'
  .row.news-title-row
    = information.title
  .row.news-body
    = information.long_information.html_safe
