.news-list
  - informations.each do |information|
    = link_to information_path(information.id), remote: true do
      .row.row-info
        .box-img{:id => "#{information.id}"}
          .img-g
            = image_tag(information.information_image.image, size: "176x100")
          .date-row
            %p= information.created_at.strftime('%d.%m.%Y')
          .game-title-row
            %p= information.title
          .news-body
            %p= information.short_information
