.row
  .col-sm-12
    %section.m-top50
      .main-row
        .decoration-news.left
          =image_tag('bg_gradient.png')
        %h2.information-title
          newsy-archiwum
%section.row-news
  .container
    = render 'information', information: information
    = render 'list', informations: informations
%section.games.m-top50
  .main-row
    .play
      =link_to game_path(information.game.id) do
        %p ZAGRAJ
    .home
      =link_to root_path do
        = image_tag('icons/icon_home_white.png')
    .decoration.right
      =image_tag('bg_gradient.png')
