#sign_in.modal.hide.fade.in
  .modal-header
  .modal-body.login-modal
    .main-row
      .decoration
        =image_tag('bg_modal.png')
      %p Zaloguj się
    .login-row
      = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: ' E-mail'
        .field
          = f.password_field :password, autocomplete: "off", placeholder: ' Hasło'
        .actions
          = f.submit "ZALOGUJ"
      = render "devise/shared/links"
