
.games-index
  .main-slider
    width: 1106px
    height: 297px
    margin: auto
    display: flex
    overflow-x: hidden
    margin-bottom: -40px
    z-index: 1

    overflow-y: hidden
    .slide
      .slide-img
        margin-right: 15px
        img
          height: 297px
    .slick-dots
      bottom: 0
      li
        margin-left: 18px
        margin-right: 9px
        line-height: 10px
        width: 10px
        height: 10px
        z-index: -9999
        button:before
          font-size: 10px
          line-height: 12px
          color: $decor_color
          opacity: 0.8
      li.slick-active
        button:before
          color: transparent
          opacity: 1
          border: solid 1px $decor_color
          border-radius: 10px
          width: 10px
          height: 10px
          margin-left: 6px
    &:hover
      li
        z-index: 9999
  .main-row
    .decoration.left
      margin-right: 20px
      width: 62%
      img
        z-index: -1
        width: 100%
        height: 90px
    .section-title
      padding-top: 45px
    .decoration-right
      margin-left: 20px
      width: 62%
      img
        z-index: -1
        width: 100%
        height: 90px
  .games-categories
    width: 1106px
    margin: auto
    display: flex
    justify-content: space-around
    align-items: center
    height: 70px
    letter-spacing: 0.6px
    ul
      display: flex
      margin: 0
      li
        padding-left: 10px
        padding-right: 10px
        a
          text-transform: uppercase
          color: $grey
          background-color: transparent !important
          text-decoration: none
          padding-bottom: 2px
        a:hover
          text-decoration: none
          border-bottom: 2px solid $decor_color
          padding-bottom: 4px
          color: $decor_color

  .container
    background-color: #2f2f2f
    padding-top: 60px
    padding-bottom: 10px
    padding-left: 26px
    display: block
    margin-bottom: 30px
    .row-with-boxes
      margin-bottom: 40px
      margin-top: 0
      .box-3
        margin-right: 40px
        .game-tile
          &:hover
            .box-buttons
              color: $decor_color
              box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2)
              background-color: #13110f
              .game-buttons img
                opacity: 1
            .box-img
              box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2)
              img
                opacity: 1
          .box-img
            width: 297px
            height: 159px
          .box-buttons
            .game-name
              display: block
              float: left
              font-size: 14px
              line-height: 14px
              font-weight: 500
              margin: 0
              padding: 0
            .game-buttons
              margin-top: -5px
              display: block
              float: right
              img
                opacity: 0.6
                margin-right: 5px
            width: 297px
            background-color: #202020
            height: 36px
            color: #9f9fa1
            padding: 11px 0 0 11px
.main-game
  position: relative
  top: -35px
  text-align: center
  margin-bottom: 0
  iframe
    top: 100
.home-img
  text-align: center
  margin: auto
  width: 34px
  img
    padding-bottom: 55px
    opacity: 0.6
.main-title
  margin-top: 10px

.grey-icons
  padding-right: 1px
  img
    margin: 2px
.white-icons
  padding-right: 1px
  img
    margin: 2px
