// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbo
  margin: 0
  padding: 0
  .main-slider
    overflow-y: hidden
    height: 613px
    .slick-dots
      bottom: 0
      li
        margin-left: 9px
        margin-right: 9px
        line-height: 10px
        width: 10px
        height: 10px
        z-index: -9999
        button:before
          font-size: 10px
          line-height: 12px
          color: $decor_color
          opacity: 0.8
      li.slick-active
        margin-bottom: 30px
        button:before
          color: transparent
          opacity: 1
          border: solid 1px $decor_color
          border-radius: 13px
          width: 13px
          height: 13px
          margin-left: 4px

    &:hover
      li
        z-index: 9999
.container
  .row-with-boxes
    .box-4
      .box-text
        .title
          margin-top: 2px
          margin-left: 5px
          color: $decor_color
          text-transform: uppercase
          h3
            font-size: 15px
            margin-bottom: 0
        .date
          margin-left: 5px
          color: #adadad
          p
            font-size: 12px
        .promo-text
          margin-left: 5px
          color: #ffffff
          p
            font-size: 17px
.more-games
  text-align: right
  top: -35px
  a
    margin-right: 10px
    font-family: Roboto
    font-size: 17px
    font-stretch: condensed
    color: #adadad
    text-decoration: none

.news-archive
  a
    margin-top: 15px
    text-decoration: none
  &:hover
    a
      color: $decor_color
