.yellowing
  background-image: linear-gradient(to top, #ffa200, #fcff00)
  img
    opacity: 0.5
    background-image: linear-gradient(to top, #ffa200, #fcff00)
  p
    color: black !important

.information-title
  margin-top: 15px
  color: $white
  font-size: 28px
  font-weight: bold
  font-style: italic
  text-transform: uppercase

section
  margin-top: 17px
  .container
    .news
      width: 590px
      img
        width: 100%
        height: 295px
    .row
      margin: 0
      padding: 0
    .date-row
      display: block
      text-align: right
      color: $white
      font-size: 12px
      margin-top: 3px
    .game-title-row
      display: block
      color: $white
      font-size: 15px
      font-weight: bold
      text-transform: uppercase
      .link
        color: white
        text-decoration: none
    .news-title-row
      display: block
      font-size: 30px
      font-weight: bold
      text-align: left
      color: #fbfe00
    .news-body
      color: $white
      font-size: 15px
      flex-direction: column
      align-items: flex-start
    .news-list
      &::-webkit-scrollbar
        width: 0.5em
      &::-webkit-scrollbar-thumb
        background-color: yellow
        height: 20px
      height: 900px
      overflow-y: scroll
      width: 396px
      border: solid 1px #535353
      position: relative
      top: -50px
      &:hover
        a
          text-decoration: none
      .row
        border: solid 1px #535353
        .box-img
          width: 100%
          .img-g
            float: left
            width: 176px
            height: 100px
            img
              max-width: 100%
              max-height: 100%
              &:hover
                background-image: linear-gradient(to top, #ffa200, #fcff00)
          .date-row
            margin-right: 5px
            text-align: right
            p
              font-size: 12px
              margin: 0
          .game-title-row
            text-align: left
            color: #fbfe00
            margin: 0
            p
              font-weight: bold
              margin: 0
              font-size: 17px
          .news-body
            text-align: left
            opacity: 0.55
            margin: 0
            p
              margin: 0

        &:hover
            background-color: #363636
            .news-body
              color: $white
            .date-row
              color: $white

section
  .main-row
    .play
      width: 196px
      height: 61px
      background-image: linear-gradient(to top, #ffa200, #fcff00)
      margin-right: 40px
      margin-top: 20px
      box-shadow: 7.9px 4.2px 18px 0 #160e00
      a
        text-decoration: none
      p
        text-align: center
        margin-top: 8px
        font-family: Roboto
        font-size: 31px
        font-weight: bold
        font-style: normal
        font-stretch: condensed
        letter-spacing: normal
        color: #131313
    .home
      width: 33px
      margin-right: 46px
      img
        margin-top: 30px
        height: 33px
        width: 100%
        opacity: 0.6
    .decoration.right
      width: 50%
      height: 100px
