#forgot_password
  .main.row
  .login-row
    margin-top: 74px
    .actions
      margin-top: 25px
.login-modal
  margin: auto
  padding: 0
  margin-top: 63px
  width: 584px
  height: 374px
  .main-row
    padding-top: 25px
    .forgot_password
      font-size: 22px
      margin-top: 32px
      margin-left: -20px
    p
      font-family: Roboto
      font-size: 27px
      font-weight: bold
      font-style: italic
      font-stretch: condensed
      line-height: normal
      letter-spacing: normal
      color: #ffffff
      margin-top: 15px
  .login-row
    text-align: center
    position: relative
    top: -50px
    .shared-links
      margin-top: 12px
      padding-top: 16px
      width: 100%
      a
        padding-left: 10px
        padding-right: 10px
        opacity: 0.42
        font-family: Roboto
        font-size: 19px !important
        font-weight: 300
        font-style: normal
        font-stretch: condensed
        line-height: normal
        letter-spacing: normal
        text-align: left
        color: rgba(255, 255, 255, 0.42)
    .field
      padding-top: 20px
      padding-bottom: 20px
      input
        height: 49px
        width: 323px
        border: none
        background-color: black
        font-family: Roboto
        font-size: 19px
        font-weight: 300
        font-style: normal
        font-stretch: condensed
        line-height: normal
        letter-spacing: normal
        text-align: left
        color: rgba(255, 255, 255, 0.42)
        padding-left: 9px
        padding-right: 9px
    .actions
      width: 196px
      height: 61px
      box-shadow: 7.9px 4.2px 18px 0 #160e00
      margin-left: 32.5%
      input
        margin: 0
        padding: 0
        width: 100%
        height: 100%
        background-image: linear-gradient(to top, #ffa200, #fcff00)
        font-family: Roboto
        font-size: 29px
        font-weight: bold
        font-style: normal
        font-stretch: condensed
        letter-spacing: normal
        border: none
.lost-password-view
  text-align: center
  color: white
  height: 730px
  padding-top: 13%
  input
    margin-bottom: 10px
