#edit
  height: 853px
.password-label
  margin-top: 50px
  padding-bottom: 20px
  color: #fcff00
  font-size: 10.5px
  font-weight: 300
.password-information
  color: #fcff00
  font-size: 9.5px
  font-weight: 300
.registration-modal
  margin: auto
  padding: 0
  margin-top: 65px
  width: 584px
  height: 747px
  .main-row
    padding-top: 23px
    p
      font-family: Roboto
      font-size: 26px
      font-weight: bold
      font-style: italic
      font-stretch: condensed
      line-height: normal
      letter-spacing: normal
      color: #ffffff
      margin-top: 15px
  .login-row
    position: relative
    top: -30px
    text-align: center
    .shared-links
      margin-top: 12px
      width: 100%
      a
        padding-left: 10px
        padding-right: 10px
        opacity: 0.42
        font-family: Roboto
        font-size: 19px !important
        font-weight: 300
        font-style: normal
        font-stretch: condensed
        line-height: normal
        letter-spacing: normal
        text-align: left
        color: rgba(255, 255, 255, 0.42)
    .field
      padding-bottom: 25px
      input
        height: 49px
        width: 323px
        border: none
        background-color: black
        font-family: Roboto
        font-size: 19px
        font-weight: 300
        font-style: normal
        font-stretch: condensed
        line-height: normal
        letter-spacing: normal
        text-align: left
        color: rgba(255, 255, 255, 0.42)
        padding-left: 9px
        padding-right: 9px
      .avatar-label
        color: #fcff00
        font-size: 19px
      .avatar-input
        background-color: #2f2f2f
        font-size: 15px
        margin-left: 21%
    .actions
      width: 196px
      height: 61px
      box-shadow: 7.9px 4.2px 18px 0 #160e00
      margin-left: 32.5%
      margin-top: -10px
      input
        margin: 0
        padding: 0
        width: 100%
        height: 100%
        background-image: linear-gradient(to top, #ffa200, #fcff00)
        font-family: Roboto
        font-size: 29px
        font-weight: bold
        font-style: normal
        font-stretch: condensed
        letter-spacing: normal
        border: none
