%p
  Witaj #{@resource.email}!
  = @resource.password
%p Zapomniałeś hasła? Kliknij w poniższy link żeby je zmienić.
%p= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token)
%p Twoje hasło nie zostanie zmienione, aż nie przejdziesz do linka powyżej i nie stworzysz nowego hasła.
