#modal-custom
.modal-content
  border: 0
  background-color: transparent
  position: relative
  right: 250px
  width: 1024px
  height: 674px
.modal-header
  border: 0
  -webkit-box-shadow: none
  box-shadow: none
  border-bottom: none
  .modal-title
    color: #fff
    font-style: italic
    position: relative
    left: 340px
.modal-body
  background-color: #2f2f2f
.form-control
  background-color: #0B0A06
  border: none
.reuglar-input
  position: relative
  right: 5px
  width: 466px
  height: 49px
  background-color: #13120f
  box-shadow: inset 0px 5px 8px 0 rgba(0, 0, 0, 0.64)
.wider-input
  width: 950px
  height: 49px
.big-input
  width: 951px
  height: 353px
.form-group
  border: none
  padding-right: 20px
.btn
  background-color: #FED000
  color: #0B0B0B
  float: right
.btn:hover
  background-color: #FED000
  color: #0B0B0B
.btn-modal
  width: 126px
  height: 41px
  background-image: linear-gradient(to top, #ffa200, #fcff00)
  background-image: linear-gradient(to top, #ffa200, var(--decor_color))
  box-shadow: 7.9px 4.2px 18px 0 #160e00
  font-family: Roboto
  font-size: 21px
  font-weight: bold
  font-style: normal
  font-stretch: condensed
  text-transform: uppercase
  border-radius: 0px
.invalid-feedback
  width: 466px
  height: 38px

#new_contact
  margin-left: 7px
  .form-row
    margin-top: 8px
  .form-actions
    margin-right: 43px
    margin-top: 6px
