%footer
  .container
    .logo
      %a{:href => ""}
        =image_tag('logo_black.png')
    .row
      .copyright
        %span
          /.Copyright © Copyright 1996-2018 Company Co. All rights reserved
          .Copyright
            =Footer.first.content
