%header{'data-turbolinks' => "false"}
  .container
    .logo
      %a{:href => root_path}
        = image_tag('logo.png')
    %nav.main-nav
      %ul
        %li
          = link_to 'START', root_path
        %li
          = link_to 'GRY', games_path
        %li
          = link_to 'NEWSY', informations_path
        %li
          = link_to 'FORUM', forums_path
        %li
          = link_to 'KONTAKT', new_contact_path, remote: true
        %li.social-media
          %a{:href => ""}
            %i.fab.fa-facebook

  .decor_bg
    .dbg=image_tag('header_bg.png')
    .add-nav
      - unless current_user.present?
        %ul
          %li
            = link_to "Zaloguj się", "#sign_in", "data-toggle" => "modal", class: 'btn-login'
          %li
            = link_to "Rejestracja", "#sign_up", "data-toggle" => "modal", class: 'btn-registration'
          %li
            = image_tag('flaga.png')
      - else
        .row
          .col-sm-3.first-column
            .row.nick-row
              = current_user.nick
            .row.img-row
              .h-img
                = image_tag('icons/icon_alert.png')
              .h-img
                = image_tag('icons/icon_avatar.png')
          .col-sm-9.second-column
            .row
              .main-avatar-img
                = link_to "#edit_up", "data-toggle" => "modal", class: 'btn-edit' do
                  = image_tag current_user.avatar.url
              .h-img
                = link_to destroy_user_session_path, method: :delete do
                  = image_tag('icons/icon_logout.png')
              .flag
                = image_tag('flaga.png')
