!!!
%html
  %head
    %title Webgames
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    //* SLICK SLIDER **/
    %link{:href => "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", :rel => "stylesheet", :type => "text/css"}/
    / Add the slick-theme.css if you want default styling
    %link{:href => "//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css", :rel => "stylesheet", :type => "text/css"}/
    //* END SLICK SLIDER **/
    %link{:href => "https://use.fontawesome.com/releases/v5.0.8/css/all.css", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', :media => "all"
    = javascript_include_tag 'application'
  %body{ "data-js-class-name" => js_class_name }
    #modal-custom.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %h4.modal-title
          .modal-body
    = render 'layouts/messages'
    = render 'devise/sessions/new'
    = render 'devise/registrations/edit'
    = render 'devise/registrations/new'
    = render 'devise/passwords/new'
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
